:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); /* text color? */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff; /* link text color */
  text-decoration: inherit;
}
a:hover {
  color: #53f285;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: left;
}


button {
  border-radius: 12px;
  border: 1px solid transparent;
  border-color:#9d0b79;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 2px solid #9d0b79;
  border-color: #9d0b79;
  color: #9d0b79; /*button text color*/
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0c1e2e; /*text color*/
    background-color: #fff1ff; /*Background color of whole page*/
  }
  a:hover {
    color: #00c2e0; /*navbar links hover color*/
  }
  button {
    background-color: #e3e7ba;
  }
}
